-if @recipes.blank?
	%h3= params[:search]
-else
	- @recipes.each_slice(3) do |recipes|
		.row
			- recipes.each do |recipe|
				.col-md-4
					.recipe
						.image_wrapper
							= link_to recipe do
								= image_tag recipe.image.url(:medium)
						.recipe_content
							.title
								%h2= link_to recipe.title, recipe
							.data.clearfix
								%p.username
									Shared by
									= recipe.user.email
								%p.buttons
									%span
										%i.fa.fa-comments-o
										= recipe.comments.count
									%span
										%i.fa.fa-thumbs-o-up
										= recipe.get_likes.size