!!!
%html
%head
	%title Social Chef
	= stylesheet_link_tag    'application', media: 'all'
	= javascript_include_tag 'application'
	%link{:rel => "stylesheet", :href => "http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css"}
	%link{:rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}
	= csrf_meta_tags
%body
	%nav.navbar.navbar-default
		.container
			.navbar-brand= link_to "Social Chef", root_path
			%ul.nav.navbar-nav.navbar-default
				= form_tag(recipes_path, :method => "get", id: "search-form") do
					= text_field_tag :search, params[:search], placeholder: "Search Recipes"
					= submit_tag "Search", :name => nil
			- if user_signed_in?
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "New Recipe", new_recipe_path
					%li= link_to "Sign Out", destroy_user_session_path, method: :delete
			- else
				%ul.nav.navbar-nav.navbar-right
					%li= link_to "Sign Up", new_user_registration_path
					%li= link_to "Sign In", new_user_session_path

	.container
		- flash.each do |name, msg|
			= content_tag :div, msg, class: "alert"

		= yield